:root {
    --primary-background-color: black;
    --secondary-background-color: #181414;
}

main {
    background-color: var(--background-color);
}

h1 {
    display:none;
}

.hero-section {
    display:flex;
    background-image: url("../images/herobanner.jpg");
    img {
        width: 5em;
        height: 100%;
        object-fit: cover;
    }
}

.GrandTheftAutoOnline {
    background-image: url(../images/gtaonlinebackground.jpg)
}

article {
    display:flex;
    justify-content: center;
    flex-direction:column;
}

article img {
    width: 90%;
    border-radius:.5em;
}