/* || FONT DECLARATIONS */

@font-face {
    font-family: ChaletComprime;
    font-style: normal;
    font-weight: 400;
    src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/95ca59e1c2cf140daa8b024c6a139e4c.woff) format("woff")
}

@font-face {
    font-family: ChaletComprime;
    font-style: normal;
    font-weight: 700;
    src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/aa2a7321d65db9f2de3cafabeb37e354.woff) format("woff")
}

@font-face {
    font-family: Chalet;
    font-style: normal;
    font-weight: 400;
    src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/ee9fe642d516bd426445b83dfe08cd39.woff) format("woff")
}

@font-face {
    font-family: Chalet;
    font-style: normal;
    font-weight: 700;
    src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/ef44f43ca79bb1aee29fbc2d457e7dee.woff) format("woff")
}

@font-face {
    font-family: NeueHelveticaW05;
    font-style: normal;
    font-weight: 400;
    src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/a531a5aaeac0ada2930fd697606d7e9e.woff) format("woff")
} 

 @font-face {
    font-family: NeueHelveticaW05;
    font-style: normal;
    font-weight: 700;
    src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/0c60fa85dfc771ab4d15d175246263b5.woff) format("woff")
} 

 @font-face {
    font-family: NeueHelveticaW05;
    font-style: normal;
    font-weight: 900;
    src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/acbb38cbe0ae2cdfc5f72a96cd32fe86.woff) format("woff")
}

/* -X- END OF SECTION */



/* || VARIABLE DECLARATIONS */

:root {
    --primary-background-color: #121212;
    --secondary-background-color: #181414;
    --text-color-primary: #E8E8E8;
    --text-color-header: #FFFFFF;
    --black: #000000;
    --white: #FFFFFF;
    --border-color-primary: #282828;
    --border-radius-small: 0.25em;
    --border-radius-large: 0.5em;
    --border-radius-medium: 0.35em;
    --font-paragraph-primary: Chalet, sans-serif;
    --font-h2-primary: ChaletComprime, sans-serif;
    --font-nav-primary: NeueHelveticaW05, sans-serif;
    --font-size-paragraph-tiny: .75em;
    --font-size-paragraph: 1em;
    --font-size-paragraph-medium: 1.25em;
    --font-weight-paragraph-heavy: 700;
    --font-weight-paragraph-tiny-heavy: 700;
    --font-size-h2-large: 3em;
    --font-size-h2-medium: 2.5em;
    --font-size-h2-small: 2em;
    --font-weight-h2: 400;
    --border-style: 0.05em solid var(--border-color-primary);
    --border-style-thin: 0.001em solid white;
}

    /* IN SPECIALE GEVALLEN VARIABELE NIET TOEGEPAST OMDAT DE WAARDES NIET HERBRUIKT WORDEN */

@media (prefers-color-scheme: light) {
    :root {
        --text-color-primary: #000000;
        --black: #FFFFFF; 
        --white: #000000;  
        --primary-background-color: #FFFFFF;  /* Light background */
        --secondary-background-color: #F0F0F0;  /* Light secondary background */
        --text-color-primary: #333333;  /* Darker text for readability */
        --text-color-header: #000000;  /* Black header text */
        --border-color-primary: #CCCCCC;  /* Light border */
    }
    img[src$="xicon.svg"]{
        filter:brightness(0);
    }

    img[src$=".svg"] {
        filter: brightness(0); /* Makes the SVG images black */
    }

    img[src="images/gta5widelogo.svg"], img[src="images/gtaonlineheaderlogo.svg"] {
        filter: none;
    }

    img[src$=".svg"]:not(header img) {
        filter:none;
    }

    /* How do i make images black on my light mode theme? Would it be possible to only do it on images that end with .svg? */

    .WelcomeToLS.zichtbaar {
        background-image: none;
    }

    .GrandTheftAutoOnline.zichtbaar {
        background-image: none;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}

/* -X- END OF SECTION */


/* || GENERAL STYLES */

    html,body {
        overflow-x: hidden;
        margin:0;
    }

    body {
        background-color: var(--primary-background-color);
        color: var(--text-color-primary);
        font-family: var(--font-paragraph-primary);
        font-size: var(--font-size-paragraph);
    }

    main {
        background-color: var(--background-color);
        
    }

    h1 {
        display:none;
    }

    h2 {
        font-family: var(--font-h2-primary);
        font-size: var(--font-size-h2-medium);
        color: var(--text-color-header);
    }

/* -X- END OF SECTION */



/* || HEADER/NAV STYLES */

    header {
        display:flex;
        justify-content: space-around;
        gap:2.25em;
        padding:1.5em 3em 1.5em 1.5em;
        background-color: var(--black);
        border: 0.05em solid var(--border-color-primary);
        z-index: 3;
        position: relative;
    }

    header > img:first-of-type {
        width:8em;
    }

    header > img:last-of-type {
        width:1.85em;
    }

    /* https://chatgpt.com/share/66f817dc-e5d4-8001-bccf-3ece9e448f24, child selector, niet alles onder header maar alleen van header zelf selecteren */

    header button.openmenu {
        display:flex;
        flex-direction: column;
        gap:.25em;
        background: transparent;
        border:none;
        padding:.5em;
        margin:0;
    }

    header button.openmenu span {
        display:flex;
        flex-direction: column;
        padding:.05em .55em .05em .55em;
        background-color: var(--white);
    }

    nav {
        background-color: var(--black);
        position:fixed;
        translate: 0 -110%;
        left:0;
        top:4.5em;
        bottom:0;
        right:0;
        display:Flex;   
        flex-direction: column;
        transition: translate .75s cubic-bezier(0.1, 0.7, 0.1, 1);
        z-index:-1;
    }

    nav.toonMenu {
        translate: 0 0;
    }

    nav input {
        background-color:var(--border-color-primary);
        padding:1em 1em 1em 4em;
        font-size:var(--font-size-paragraph-);
        font-weight:var(--font-weight-paragraph-);
        color:white;
        border:none;
    }

    ::placeholder {
        color: var(--white);
        opacity: 1; /* Firefox */
        font-size:var(--font-size-paragraph);
    }
    /* https://www.w3schools.com/howto/howto_css_placeholder.asp */

    nav input.searchbar {
        background-image: url(../images/searchbaricon.svg);
        background-position:
        2em, 0.5em,
        100% 0 ;
        background-size: 1.25em;
        background-repeat: no-repeat;
    }
    /* https://codepen.io/vkjgr/pen/VYMeXp?editors=1100 ^ */

    nav ul {
        display:flex;
        flex-direction: column;
        padding:1em;
        margin-top:0;
        gap:2em;
    }

    nav ul > :not(:first-child) {
        margin-left:1em;
    }
    /* "How to exclude the first item in a display flex when applyiong margin" Copilot */
    
    nav ul a, details {
        text-decoration: none;
        color:var(--white);
        font-size:var(--font-size-paragraph-medium);
        font-weight: var(--font-weight-paragraph-heavy);
    }

    nav ul details > summary:first-of-type {
        list-style-type: none;
    }

    details summary::-webkit-details-marker {
        display: none;
    }

    details summary::marker {
        display: none;
    }

    /* https://stackoverflow.com/questions/6195329/how-can-you-hide-the-arrow-that-is-displayed-by-default-on-the-html5-details-e  */
    /* Copilot gevraagd om het te verstoppen op alle browsers want op telefoon previewen had het nog wel de marker omdat het ios is */

    nav ul details summary { 
        display:flex;
        justify-content: space-between;
    }

    nav ul details summary img {
        transition: transform .25s ease-in-out;
        width:1em;
    }


    nav ul details ol {
        list-style-type: none;
    }

    nav ul details ol li {
        margin:1em;
    }

    nav ul details[open] summary img {
        transform:rotate(180deg);
        transition: transform .35s ease-in-out;
    }
    /* https://stackoverflow.com/questions/61292792/css-selector-for-details-element-when-opened */

    nav ul a.active {
        background-color:#201c1c;
        padding:.75em;
        border-radius:var(--border-radius-small);
    }

    nav ul > a:last-of-type { 
        background-color: var(--black);
        padding:.75em 1em .75em 1em; 
        text-align: center;
        border: 0.001em solid var(--white);
        border-radius:0.15em;
        margin:0.75em;
        font-size:var(--font-size-paragraph)
    }

    div.menuaddition{
        display:flex;
        justify-content: center;
        align-items: center;
        position:fixed;
        bottom:0;
        translate: 0 100%;
        transition: translate .75s cubic-bezier(0.1, 0.7, 0.1, 1);
        /* chatgpt gevraagd om een dramatische ease-out transition */
        background-color:var(--border-color-primary);
        width:101%;
        margin-left:1em;
        z-index:2;
        font-family:var(--font-nav-primary);
    }

    div.menuaddition article {
        margin: 1em 1em 1em 1em;
    }

    div.menuaddition article a {
        display:flex;
        gap:0.5em;
        text-decoration: none;
        color:var(--white);
    }

    div.menuaddition article p {
        font-size:var(--font-size-paragraph);
        font-weight:var(--font-weight-paragraph-heavy);
    }

    div.menuaddition article img {
        width:1em;
    }

    div.divslide {
        translate:0 0; 
    }

/* -X- END OF SECTION */


/* || HERO BANNER SECTION STYLES */

    @keyframes slideuphero {
        0% {
            opacity: 0;
            transform: translateY(8em);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .herobanner {
        width:150%;
        margin-left:-8.5em;
    }

    .hero-section {
        display: flex;
        gap:1em;
        align-items:center;
        flex-direction: column;
        margin: -7.5em 2em 4em 2em;
    }

    .hero-section p, .hero-section h2 {
        margin: 1em 0 -.25em 0;
        animation: slideuphero 1s ease-out;
    }

    .hero-section p {
        margin-bottom: 2em;
    }

    .hero-section .hero-logos img {
        flex-direction: row;
        width: 7em;
        height: 100%;
        animation: slideuphero 1s ease-out;
        white-space: nowrap;
        overflow:hidden;
    }

    .hero-section .hero-logos img:last-of-type {
        width: 6.5em;
    }

    .hero-section a {
        font-family: var(--font-h2-primary);
        text-decoration: none;
        width:75%;
        text-align:center;
        color:var(--white);
        font-size: 1.2em;
        left:1em;
        right:1em;
        padding: 1em 2em 1em 2em;
        border: 0.05em solid var(--white);
        border-radius:var(--border-radius-small);
        animation: slideuphero 1s ease-out;
    }

/* -X- END OF SECTION */


/* || WELCOME TO LS SECTION STYLES */
    
    .WelcomeToLS {
        background-image: url(../images/welcometolsbackground.jpg);
        background-size: cover;
        margin-bottom:7.5em;
        opacity:0;    
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:2em;
        transition: opacity 1s ease-in-out;
    }

    .WelcomeToLS img:first-of-type{
        width:120%;
    }

    .WelcomeToLS img:last-of-type{
        width:30%;
    }

    .WelcomeToLS h2 {
        padding: 0 .5em 0 .75em;
        margin:0;
        font-size: var(--font-size-h2-large);
    }

    .WelcomeToLS p {
        padding: 0 2.25em 0 2.5em;
        margin:0;
    }

    .WelcomeToLS.zichtbaar {
        opacity:1;
    }

/* -X- END OF SECTION */


/* || GTA ONLINE SECTION STYLES */

    .GrandTheftAutoOnline {
        background-image: url(../images/gtaonlinebackground.jpg);
        background-size: cover;
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:2em;
        margin-bottom:7.5em;
        transition: opacity 1s ease-in-out;
        opacity:0;
    }

    .GrandTheftAutoOnline.zichtbaar {
        opacity:1;
    }

    .GrandTheftAutoOnline img:first-of-type{
        width:100%;
    }

    .GrandTheftAutoOnline img:last-of-type{
        width:25%;
    }

    .GrandTheftAutoOnline h2 {
        padding: 0 .5em 0 .75em;
        margin:0;
        font-size: var(--font-size-h2-large);
    }

    .GrandTheftAutoOnline p {
        padding: 0 2.25em 0 2.5em;
        margin:0;
    }

/* -X- END OF SECTION */


/* || CONTENT CARDS SECTION STYLES */

    .contentcards {
        margin: 0 1em 0 2em; ;
    }

    .contentcards article {
        display:flex;
        justify-content: center;
        flex-direction:column;  
        opacity:0;
        transition: opacity 1s ease-in-out;
    }

    .contentcards article.zichtbaar {
        opacity:1;
    }

    .contentcards article img {
        width: 90%;
        border-radius:var(--border-radius-large);
    }

    .contentcards article p {
        margin-bottom:5em;
    }

/* -X- END OF SECTION */


/* || BUY NOW SECTION STYLES */

    .BuyNow {
        padding: 0 0em 0 2em;
    }

    .BuyNowCards {
        overflow-x: auto;
        display: flex;
        flex-direction: row;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        transition: transform 250ms ease-in; 
        width: 100%; 
        gap:1em;
    }

    /* copilot gevraagd om te kijken hoe ik 2 cards horizontale cards kan omzetten naar een scrollable ding, copilot suggereerde overflow x + scrollsnap + webkit voor telefoon */

    .BuyNowCards article {
        transition: 0.5s;
        flex: 0 0 90%; 
        scroll-snap-align: start; 
        display: flex;
        flex-direction: row;
        gap:1em;
        flex-wrap:wrap;
        background-color: var(--black);
        margin: 2em 1em 2em .5em;
        border-radius:var(--border-radius-large);
        border: 0.05em solid var(--border-color-primary);
    }

    .BuyNowCards article img:first-of-type {
        border-radius:var(--border-radius-small);
        width: 100%;
    }

    .BuyNowCards article img:nth-of-type(2) {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top:-7.5em;
    }

    .BuyNowCards article img:nth-of-type(3){
        width: 25%;
        margin-right:0%;
    }

    .BuyNowCards article img:nth-of-type(4){
        width: 40%;
        margin-left:0;
    }

    .BuyNowCards article p{
        flex-basis:100%;
    }

    .BuyNowCards h2 {
        margin-left:.55em;
        margin-top:.5em;
    }

    .BuyNowCards p, .BuyNowCards img:nth-of-type(3),.BuyNowCards img:nth-of-type(4), button { 
        margin:0 1.5em 0 1.5em;
    }

    .BuyNowCards article p:last-of-type{
        font-size: var(--font-size-paragraph-tiny);
        padding:1em;
        background-color:(--black);
        border: 0.05em solid var(--border-color-primary);
        border-radius:var(--border-radius-small);
        width:50%;
        flex-basis:70%;
        margin-top:1em;
    }

    .BuyNowCards article button {
        font-family: var(--font-h2-primary);
        background-color: var(--black);
        text-decoration: none;
        width:87.5%;
        text-align:center;
        color:var(--white);
        font-size: 1.2em;
        padding: 1em 2em 1em 2em;
        border: 0.05em solid var(--white);
        border-radius:var(--border-radius-small);
        margin: 1em 0 1em 1em;
    }

    .BuyNowControls {
        display:flex;
    }

    .BuyNowControls .previousbutton, .BuyNowControls .nextbutton {
        background-color: var(--black);
        color: #fff;
        padding: 1.75em;
        cursor: pointer;
        z-index: 1;
        margin:0;
        height:4em;
        width:4em;
    }

    .BuyNowControls .previousbutton {
        background-image: url(../images/buynowcontrolprev.svg);
        background-repeat:no-repeat;
        background-position:center;
        background-size: 50%;
        border-radius:var(--border-radius-medium);
        border-bottom-right-radius:0;
        border-top-right-radius: 0;
        border: 0.15em solid var(--border-color-primary);
        border-right:0;
    }

    .BuyNowControls .nextbutton {
        background-image: url(../images/buynowcontrolsnext.svg);
        background-repeat:no-repeat;
        background-position:center;
        background-size: 50%;
        border-radius:var(--border-radius-medium);
        border-bottom-left-radius:0;
        border-top-left-radius: 0;
        border:0.15em solid var(--border-color-primary);
        border-left:0;
    }

    .BuyNowControls .BuyNowControlsH2-1 {
        margin:0 2.9em 0 0;
    }

    .BuyNowControls .previousbutton:disabled {
        filter: grayscale(100%) brightness(50%);
    }

    .BuyNowControls .nextbutton:disabled {
        filter: grayscale(100%) brightness(50%);
    }
    /* copilot de filter laten genereren */

    .BuyNow p:last-of-type {
        background-color: var(--black);
        margin-right:2.5em;
        padding:2em;
        border-radius:var(--border-radius-large);
        border:0.15em solid var(--border-color-primary);
    }
    
/* -X- END OF SECTION */ 


/* || ESRB SECTION STYLES */

  .ESRB {
    display: grid;
    width:65%;
    grid-template-columns: repeat(1, 1.5fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1.75em;
    grid-row-gap: 0;
    font-size:.65em;
    background-color:var(--black);
    justify-content: center;
    align-items: center;
    margin:12.5em auto;
    padding:2em 2em 1em 2em;
    border-radius:var(--border-radius-large);
    border: 0.125em solid var(--border-color-primary);
  }

  .ESRB img { 
    grid-area: 1 / 1 / 3 / 2;
    width:6.5em;

  }

  .ESRB p:first-of-type {
    grid-area: 1 / 2 / 2 / 3;
    margin:0;
  }

 .ESRB p:last-of-type {
    grid-area: 2 / 2 / 3 / 3;
    width:75%; 
  }   
  /* grid generator, en heel veel uitleg van jason/jesse */

/* -X- END OF SECTION */


/* FOOTER SECTION STYLES */
    
    footer {
    background-color: var(--black);
    padding-top:3em;
    padding-bottom:3em;
    }

    footer ul:nth-of-type(1) li {
    margin-bottom:1.5em;
    list-style-type: none;
    }

    footer select {
        margin: 3em 0 4em 3.25em;
        background-color: var(--black);
        color:var(--white);
        appearance: none;
        -webkit-appearance: none;
        padding:2em 5em 2em 5em;
    }

    footer select.languageselector {
    background-image: url(../images/downselectarrow.svg);
    background-position:
      14em, 0.5em,
      100% 0 ;
    background-size:
      1em;
    background-repeat: no-repeat;
  }
    /* https://codepen.io/vkjgr/pen/VYMeXp?editors=1100 ^ */
    /* Jesse zei dat het onnodig was om het menu aan de bovenkant te laten openen */

    footer ul:nth-of-type(2) {
    display:flex;
    gap:2.25em;
    }

    footer ul:nth-of-type(2) img {
    width:1em;
    }

    footer ul:nth-of-type(3) {
    list-style-type: none;  
    margin-top:5em;
    }

    footer ul:nth-of-type(3) li {
    color: var(--text-color-primary);
    margin-bottom:1.5em;
    font-size:var(--font-size-paragraph-tiny)
    }

    footer .gridlist {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 2em;
    height:7.5em;
    text-align: center;
    margin: 10em 4em 5em 4em;
    list-style-type: none;
    font-size:var(--font-size-paragraph-tiny);
    width:17.5em;
    font-weight:var(--font-weight-paragraph-tiny-heavy);
    }

    footer .gridlist ul:nth-of-type(4), .gridlist li:first-of-type {
    grid-column: 2 / 4;
    grid-row:1;
    font-size: 1em;
    margin:2em 0 0 0;
    }

    footer .gridlist ul:nth-of-type(4), .gridlist li {
    grid-row: 2;
    grid-column: 1 2 3 4;
    margin-bottom:-2em;
    }

    footer .gridlist ul:nth-of-type(4), .gridlist li:last-of-type {
    grid-column: 1 / span 4;
    grid-row: 3;
    font-size: 1em;
    margin:1.5em 0 0 0;
    }

/* -X- END OF SECTION */





/* ----------------------------------------------------------------------------------- */
/* PAGE 2 STYLES */

/* HEROBANNER SECTION STYLES */

    .herobanner2 {
            width:100%;
    }

/* -X- END OF SECTION */


/* NEW THIS WEEK SECTION STYLES */

    .BuyNowControls .BuyNowControlsH2-2 {
        margin: 0 .75em 0 0
    }
    /* copilot gevraagd om te kijken hoe ik 2 cards horizontale cards kan omzetten naar een scrollable ding, copilot suggereerde overflow x + scrollsnap + webkit voor telefoon */
    /* BuyNowControls gehouden ipv NewThisWeek omdat ik dan ook dezelfde JS functie kon gebruiken + anders dubbelzinnige opmaak zou hebben in mn css  */

    .NewThisWeekTiles {
        display: flex;
        flex-direction: row;
        gap: 1em;
        overflow-x: auto; 
        scroll-snap-type: x mandatory;
        padding: 0 2em;
        margin-top:1em;
        transition: transform 250ms ease-in-out;
        scroll-behavior: smooth;
    }

    .NewThisWeekTiles article {
        flex: 0 0 90%; 
        transition:0.5s;
        scroll-snap-align: start; 
        display: flex;
        flex-direction: row;
        gap: 1em;
        flex-wrap: wrap;
        background-color: var(--black);
    }

    .NewThisWeekTiles article img:first-of-type {
        border-radius:var(--border-radius-large);
        width: 100%;
    }

    .NewThisWeek {
        padding: 0 0em 0 2em;
        transition: opacity 1s ease-in-out; 
        opacity:0;
    }
    
    .NewThisWeek.zichtbaar {
        opacity: 1;
    }

/* -X- END OF SECTION */


/* CAREER PROGRESS SECTION STYLES */

    .CareerProgress {
        display:flex;
        flex-direction: column;
        gap:1em;
        padding:2em;
        background-color:var(--black);
        margin:1.5em;
        border-radius:var(--border-radius-large);
        border:0.085em solid var(--border-color-primary);
        padding-bottom:2em;
    }

    .CareerProgress img:first-of-type {
        width:125%;
        border-radius : 0.5em 0.5em 0 0;
        margin:-2em -2em 1em -2em;
    }

    .CareerProgress img:last-of-type {
        border-radius:5em;
        width:4em;
    }

    .CareerProgress p, .CareerProgress a, .CareerProgress h2, .CareerProgress img:last-of-type {
        margin:0em;
    }

    .CareerProgress h2 {
        font-size: var(--font-size-h2-small);
        font-weight: var(--font-weight-h2)
    }

    .CareerProgress p{
        line-height:1.5em;
    }

    .CareerProgress a {
        font-family: var(--font-h2-primary);
        text-decoration: none;
        width:75%;
        text-align:center;
        color:var(--white);
        font-size: 1.2em;
        left:1em;
        right:1em;
        padding: 1em 2em 1em 2em;
        border: 0.05em solid var(--white);
        border-radius:var(--border-radius-small);
    }

/* -X- END OF SECTION */


/* UPDATES SECTION STYLES */

    .UpdatesCards  {
        position:relative;
        display: flex;
        flex-direction: row;
        gap: 1em;
        overflow-x: auto; 
        scroll-snap-type: x mandatory;
        padding: 0 2em;
        margin-top:1em;
        transition: transform 250ms ease-in-out;
        scroll-behavior: smooth;
        width:20em;
        height:25em;
        opacity:0;
        transition: opacity 1s ease-in-out;
    }

    .UpdatesCards.zichtbaar {
        opacity:1;
    }

    .UpdatesCards article {
        position: relative;
        flex: 0 0 90%; 
        transition:0.5s;
        scroll-snap-align: start; 
        display: flex;
        flex-direction: row;
        gap: 1em;
        flex-wrap: wrap;
        background-color: var(--black);
        border-radius:var(--border-radius-large);
        margin-right:1em;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .UpdatesCards article img:nth-of-type(2) {
        position:absolute;
        width: 50%;
        left: 55%; /* Move to the center horizontally */
        top: 50%; /* Move to the center vertically */
        transform: translate(-50%, -50%); /* Adjust position to center */
    }

    .Updates {
        padding: 0 0em 0 2em;
    }

    .UpdatesCards article img:nth-of-type(1){
        border-radius:var(--border-radius-large);
        width: 110%;
    }

    .UpdatesCards p {
        position:absolute;
        bottom:1em;
        left:1em;
        font-family: var(--font-h2-primary);
        font-size: var(--font-size-paragraph-medium);
    }

/* -X- END OF SECTION */


/* PERSONALIZE YOUR PLATES SECTION STYLES */

    .PersonalizeYourPlates {
        display: flex;
        flex-direction: column;
        gap:1em;
        padding:2em;
        background-color:var(--black);
        margin:2em;
        border-radius:var(--border-radius-large);
        border:0.085em solid var(--border-color-primary);
        padding-bottom:2em;
    }

    .PersonalizeYourPlates img:first-of-type {
        width:124.5%;
        border-radius : 0.5em 0.5em 0 0;
        margin:-2em -2em 0 -2em;
    }

    .PersonalizeYourPlates img:last-of-type {
        width:6.75em;
    }

    .PersonalizeYourPlates h2 {
        font-size: var(--font-size-h2-small);
        font-weight: var(--font-weight-h2);
        margin-bottom:-.5em;
    }

    .PersonalizeYourPlates p {
        line-height:1.5em;
    }

    .PersonalizeYourPlates a {
        font-family: var(--font-h2-primary);
        text-decoration: none;
        width:75%;
        text-align:center;
        color:var(--white);
        font-size: 1.2em;
        left:1em;
        right:1em;
        padding: 1em 2em 1em 2em;
        border: 0.05em solid var(--white);
        border-radius:var(--border-radius-small);
    }

/* -X- END OF SECTION */

/* SURFACE PLANE DINGEN */

    /* DOM MANIPULATION */
    /* CUSTOM PROPERTIES++ */
    /* THEMES (LIGHTMODE) */
    /* SCROLL ANIMATIONS */
    /* REDUCE MOTION */
    /* ACCESSIBILITY++? */